body {
    font-family: Arial, sans-serif; /* Fuente de letras */
    background-color: #f5f5f5;/* Color de fondo */
    background-image:url(../imagenes/fondoinicio2.jpg);/* Imagen de fondo */
    background-repeat: no-repeat;/* Que la imagen de fondo no se repita */
    background-size: cover;/* Para que la imagen cubra todo el fondo */
    background-attachment: fixed;/* Para que la imagen este inmovil */
    color:#ffffff;/* Color */
}
.header {
    display: flex;/* Hace el contenedor flexible */
    justify-content: center;/* Centra los elementos horizontalmente */
    align-items: center;/* Centra los elementos verticalmente */
    margin-bottom: 30px;/* Controla el espacio debajo de la caja */
    background-color: #fcfcfc;
    color: rgb(53, 0, 243);
    padding: 10px 20px;/* El espacio entre el contenido y los bordes de la caja */
}
h1 {
    padding: 10px 500px 10px 20px;
    font-size: 40px;/* Tamaño de la fuente */
    text-shadow: 1px 1px black;
}
.nav {
    display: flex;
    gap: 30px;/* Espacio entre los elementos del contenedor */
}
nav div a{
    text-decoration: none;/* Quita la linea que se pone abajo de los links */
}
nav div a:hover{
    color: rgb(235, 0, 0);
    text-shadow: 2px 2px 5px rgba(161, 30, 20, 0.6);
}
.container-info {
    padding: 30px;
}
h2 {
    display: grid;/* Hace un contenedor de cuadriculas */
    font-size: 60px;
    justify-content: center;
    color: rgb(190, 7, 7);
    text-shadow: 2px 1px rgba(255, 255, 255, 0.671);
}
.informacion h3 {
    display: grid;
    font-size: 30px;
    justify-content: center;
    color: blue;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.9);
}
.informacion p{
    display: grid;
    margin: 30px;/* Controla el espacio de afuera de la caja */
    font-family: Ocean sans, 'Times New Roman', Times, serif;
}
.galeria{
    display: grid;
    font-size: 30px;
    padding-top: 100px;/* Controla el padding para arriba */
    justify-content: center;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9);
}
button {
    background-color: hsl(229, 93%, 48%);
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;/* Elimina el borde */
    border-radius: 4px;/* Redondea las esquinas */
    cursor: pointer;/* Cambia como se ve el cursor */
    width: 100%;/* Ancho */
    font-size: 16px;
}
section{
    display: flex;
    height: 300px;/* Alto */
    align-items: center;
    justify-content: center;
}
section img{
    width: 0px;
    flex-grow: 1;/* Cuanto crecen las imagenes */
    object-fit: cover;/* Ajusta el contenido */
    opacity: 0.8;/* Transparencia del elemento */
    transition: 0.5s ease;/* Cuanto tarda la transicion */
}
section img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);/* Ajusta el contraste */
}
button:hover {
    background-color: #ffffff;
}
.payment-section {
    margin-bottom: 50px;
}