body {
    font-family: Arial, sans-serif; /* Fuente del texto */
    margin: 0; /* Elimina márgenes  */ 
    padding: 0; /* Elimina el relleno interno del body */
    background-color: #f8f9fa; /* Color de fondo */
}

header {
    background-color: #ff0202; /* Color de fondo en el encabezado */
    color: white; /* Color del texto */
    padding: 20px; /* Espaciado interno */
    display: flex; /* Configuración de flexbox */
    align-items: center; /* Alinea los elementos verticalmente al centro */
    justify-content: center; /* Alinea los elementos horizontalmente al centro */
}

/* Contenedor del logo */
.logo {
    display: flex; /* Hace que el item sea flexible y asi poderlo mover */
    align-items: center; /* Centra verticalmente el contenido */
}

.logo img {
    width: 85px; /* Ancho fijo */
    height: 90px; /* Alto fijo */
    border-radius: 15px; /* Bordes redondeados */
    margin-right: 15px; /* Espaciado a la derecha */
    box-shadow: 0px 4px 8px rgba(71, 8, 8, 0.2); /* Sombras */
}

.logo h2 {
    font-size: 2rem; /* Tamaño del texto */
    font-weight: bold; /* Texto en negrita */
    margin: 0; /* Elimina márgenes */
    font-family: 'Arial Black', sans-serif; /* Fuente del texto */
    letter-spacing: 1px; /* Espacio entre las letras */
    text-transform: uppercase; /* Convierte el texto a mayúsculas */
}

nav {
    margin: 10px 0; /* Márgenes verticales */
}

/* Enlaces dentro de la navegación */
nav a {
    margin: 0 15px; /* Espaciado horizontal entre enlaces */
    color: white; /* Color del texto */

}

.products {
    display: grid; /* Organiza los elementos  */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Crea columnas flexibles */
    gap: 20px; /* Espacio entre los elementos */
    padding: 20px; /* Espacio interno o relleno interno */
}

.product {
    display: flex; /* Hace que el elemento se pueda mover */
    flex-direction: column; /* Alinea los elementos en columna */
    align-items: center; /* Centra horizontalmente */
    border: 1px solid #0011ff; /* Color de los bordes */
    border-radius: 10px; /* Bordes redondeados */
    padding: 15px; /* Espacio interno */
    background-color: #f9f9f9; /* Color de fondo */
    text-align: center; /* Centra texto */
    transition: transform 0.3s ease; /* Animacion cuando pasas el cursos por encima */
}

.product:hover {
    transform: scale(1.1); /* Aumenta el tamaño de la animacion */
}

.product img {
    width: 200px; /* Ancho fijo */
    height: 200px; /* Alto fijo */
    object-fit: cover; /* Ajusta la imagen para llenar el contenedor */
    border-radius: 5px; /* Bordes redondeados */
    margin-bottom: 10px; /* Espacio debajo de la imagen */
}

button {
    margin-top: 10px;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #f11717a4;
}

footer {
    position: relative; /* Permite que se mueva con el atributo bottom */
    bottom: -120px; /* Ajusta la posición vertical */
    text-align: center; /* Centra el texto */
    padding: 20px; /* Espacio interno */
    background-color: #090cc7; /* Color de fondo */
    color: white; /* Color del texto */
    width: 100%; /* Ancho */
    font-family: 'Monaco'; /* Fuente del texto */
}
