body{
    background-image:url(../imagenes/fondotitulos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color:#1658af;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
       
}
header {
    background-color: #ff0202;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 120px;
    height: 120px;
    margin-right: 12px; 
}

.logo h2 {
    font-size: 60px;
    font-weight: bold;
    margin:0;
    font-family: 'Arial Black', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
}

h3 {
    font-family: 'Arial Black', sans-serif;
    color: rgb(255, 255, 255);
    box-shadow: 0 15px 5px rgba(4, 0, 255, 0.1);
}

p {
    font-family: 'Arial Black', sans-serif;
    color: rgb(249, 249, 250);
    box-shadow: 0 5px 5px rgba(0, 81, 255, 0.1);
}

#titulos{
text-align: center;
padding:150px;
margin: 110px;
}

.tituls{
    height: 500px;
    width: 800px;
    border: 7px solid #0c28c9;
    border-radius: 15px;
    text-align: center;
    background-color: #ff0202;
    box-shadow: 1px 2px 5px rgba(0,0,0,0.1);
    justify-content: center;
}

.titulo {
text-align: center;
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.copa{
float: left;
box-shadow: 2px 8px 120px rgba(255, 255, 255, 0.2); 
border-radius: 12px;
}
footer {
    position: relative; /* Permite que se mueva con el atributo bottom */
    bottom: -120px; /* Ajusta la posición vertical */
    text-align: center; /* Centra el texto */
    padding: 20px; /* Espacio interno */
    background-color: #090cc7; /* Color de fondo */
    color: white; /* Color del texto */
    width: 100%; /* Ancho */
    font-family: 'Monaco'; /* Fuente del texto */
}